# IDE made files/folders
.idea
.vscode

# development directories
cmake-build-debug
build/*

# open source directories
opennn

# auto-compiled files/folders
__pycache__

# videos, images and data
*.mp4
*.jpg
*.jpeg
*.png