# IDE made files/folders
.idea
.vscode

# development directories
cmake-build-debug
venv

# open source directories
opennn
opencv
opencv_contrib
darknet

# auto-compiled files/folders
__pycache__

# videos
*.mp4
