# IDE made files/folders
.idea
.vscode
.vs

# development directories
cmake-build-debug
bin
build

# open source directories
opennn

# auto-compiled files/folders
__pycache__

# videos, images and data
*.mp4
*.jpg
*.jpeg
*.png

# networks, training startegies and params
*.xml

# binaries and executables
bin/*

# weights and backups
*.weights
*.backup